<div class="transaction-list">
  <h2>Transactions</h2>
  <button (click)="toggleList()">
    {{ showList ? 'Hide Transactions' : 'Show Transactions' }}
  </button>
  
  <div *ngIf="showList">
    <div *ngIf="!hasLoaded">
      Loading transactions...
    </div>
    
    <ul *ngIf="hasLoaded">
      <li *ngFor="let transaction of transactions">
        <strong>{{ transaction.description }}</strong>  
        - ${{ transaction.amount }}  
        <em>({{ transaction.category }})</em>
        <button (click)="deleteTransaction(transaction.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>