<div class="transaction-list">
  <h2>Transactions</h2>
  <button (click)="toggleList()">
    {{ showList ? 'Hide Transactions' : 'Show Transactions' }}
  </button>

  @if (showList) {
    <div>
      @if (!hasLoaded) {
        <div>
          Loading transactions...
        </div>
      }
      @if (hasLoaded) {
        <ul>
          @for (transaction of transactions; track transaction) {
            <li>
              <strong>{{ transaction.description }}</strong>
              - ${{ transaction.amount }}
              <em>({{ transaction.category }})</em>
              <button (click)="deleteTransaction(transaction.id)">Delete</button>
            </li>
          }
        </ul>
      }
    </div>
  }
</div>