# App settings
appsettings.json
appsettings.Development.json
appsettings.Production.json

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfstate.*
terraform/*.tfvars

# Other folders / files
.vs/
bin/
obj/
*.user
*.env