# App settings
appsettings.json
appsettings.Development.json
appsettings.Production.json

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfstate.*
terraform/*.auto.tfvars

# Cursor
.devcontainer/

# Other folders / files
.vs/
bin/
obj/
*.user
*.env
