services:
  backend:
    build:
      context: ./finance_tracker.backend/finance_tracker.backend
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING}
      - Jwt__Key=${JWT_KEY}
      - CORS_ALLOWED_ORIGINS=http://localhost:4200,http://frontend,https://app-finance-tracker-6n8mk7w3.azurewebsites.net
    depends_on:
      - frontend

  frontend:
    build:
      context: ./finance_tracker.frontend
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    depends_on:
      - backend